.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    padding: 0 20px;
    background-color: #0b0c0c;
    margin: 20px;
    border-radius: 20px;
  }
  
  .home-content h1 {
    font-size: 2.5rem;
    margin-bottom: 90px;
    color: #ffffff;
  }
  
  .home-content h2 {
    font-size: 1.5rem;
    margin-bottom: 90px;
    color: #ffffff;
  }
  
  .home-content p {
    max-width: 600px;
    margin: 0 auto 30px;
    margin-bottom: 90px;
    font-size: 1.1rem;
    color: #ffffff;
  }
  
  .highlight {
    color: #ffffff;
    font-weight: bold;
  }
  
  .btn {
    padding: 12px 24px;
    background-color: #ffffff;
    color: #0b0c0c;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  

  