.navbar {
  position: relative;
  display: flex;
  justify-content: center; /* centre le contenu */
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

.navbar-logo {
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 100%;
}


/* === BOUTON BURGER === */
.burger {
  position: absolute;
  left: 1rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 1100;
}

.burger span {
  height: 3px;
  width: 100%;
  background-color: #000000;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Animation vers croix (✖) */
.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* === MENU TIROIR === */
.drawer {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: left 0.3s ease;
  z-index: 1000;
}

.drawer.open {
  left: 10px;
  margin-top: 70px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
}

/* === OVERLAY FOND SOMBRE === */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 900;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}


.drawer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  }
  

/*BOUTON HOME */

.home-button {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.home-button:hover {
  background-color: #ffffff;
  color: #000000;
}


/* ===== Responsive ===== */
@media screen and (max-width: 768px) {
  .burger {
    display: flex;
  }
}
