.navbar-content {
  display: flex;
  align-items: center;
  gap: 2rem; /* espace entre téléphone et liens */
}

.navbar-phone {
  font-weight: 500;
  color: #7a69d6;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: white;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 1.6rem; /* Ajuste selon tes préférences */
  transition: opacity 0.3s ease;
}

.logo-link:hover {
  opacity: 0.7;
}

.logo-img {
  height: 45px;
  object-fit: contain;
}

.navbar-logo {
  display: flex;
  align-items: center;
  color: #7a69d6;
  font-size: x-large;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* Base class for all navbar links */
.navbar-link {
  color: #7a69d6;
  text-decoration: auto;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  text-decoration: underline;
}


  