body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #0f172a; /* Couleur dark tech */
  color: #ffffff;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
